/* .sd-card-img-top {
    margin: 10px auto;
    background: none !important;
    width: 90%;
    display: block;
}

.sd-row {
    --sd-gutter-x: 1.5rem;
    --sd-gutter-y: 1.5rem;
}

/* .sd-card-body {
    margin: 1px auto;
    display: block;
}

.sd-card-hover {
    border: 1px solid var(--pst-color-warning);
}

.sd-card-title .reference {
    color: var(--pst-color-warning);
    font-size: var(--pst-font-size-h5);
    font-weight: lighter;
} */
